<% @topics.each do |topic|%>

<%= link_to "/#{topic.id}/topic" do %>
<span class="pure-u-1-4 child">
  <div class = "squareImage">
    <img src=<%= topic.image %> alt="" class = "image">
  </div>
  <div class = "titleText">
    <%= topic.name  %>
  </div>
  </span>
  <%end%>

<% end %>