<%= link_to "/#{diy.id}/fashion/diy" do %>
<span class="pure-u-1-4 child">
  <div class = "squareImage">
    <img src=<%= diy.image %> alt="" class = "image">
  </div>
  <div class = "titleText">
    <%= diy.title  %>
  </div>
  </span>
  <%end%>