<div class="pure-u-1-2 post">
<%= link_to "/#{posts.map { |post| post.id}.join(" ") }" do %>
<span class="home__post">
  <div class = "squareImage">
    <img src=<%= posts.map { |post| post.image}.join(" ") %> alt="" class = "home__post__image">
  </div>
  <div class = "home__post__title">
    <%= posts.map { |post| post.title}.join(" ") %>
  </div>
  </span>
  <%end%>
  </div>