<%= link_to "/#{posts.map { |post| post.id}.join(" ") }" do %>
<span class="recomend">
  <div class = "squareImage">
    <img src=<%= posts.map { |post| post.image}.join(" ") %> alt="" class = "recomend__image">
  </div>
  <div class = "recomend__title">
    <%= posts.map { |post| post.title}.join(" ") %>
  </div>
  </span>
  <%end%>