<div><h2>検索結果</h2>
<div>
  <% @result.each do |result| %>
  <%= link_to "/#{result.id}" do %>
<span class="pure-u-1-4 child">
  <div class = "squareImage">
  <img src=<%= result.image %> alt="" class = "image">
  </div>
  <div class = "titleText">
    <%= result.title  %>
  </div>
  </span>
  <%end%>
  <% end %>
</div>
  </div>
