<% if @result.count == 0 %>
<div>
<h2>見つかりませんでした。</h2>
</div>
<% else%>
<div><h2>検索結果</h2>
<div>
  <% @result.each do |result| %>
  <%= link_to "/#{result.id}/lapan" do %>
<span class="pure-u-1-4 child">
  <div class = "squareImage">
  <img src=<%= result.image %> alt=<%= result.name + "の" + result.title %> class = "image">
  </div>
  <div class = "titleText">
    <%= result.title  %>
  </div>
  </span>
  <%end%>
  <% end %>
</div>
  </div>
  <% end %>


