body {
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #eaeaea;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
text-decoration: none;
}

/* header */

header{
  background-color: white;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 3;
}
.header-right{
  float:right;
}

.header-child {
  float:left;
  margin-top: 5px;
  margin-left: 650px;
  margin-right:46px;
}


.header-logo {
  color: rgba(250,88,88,0.5);
  font-size: 30px;
  float: left;
}

.mainBorder{
  text-align: center;
  color: gray;
  font-size: 20px;
  margin-bottom: 0px;
}
.subBorder{
  text-align: center;
  color: gray;
  font-size: 20px;
  margin-bottom: 0px;
}

.make_border_2{
  width:80%;
  height:2px;
  background:linear-gradient(-90deg, #FA5858, #FA5858);
  margin:auto;
  margin-bottom: 40px;
}
.make_border{
  width: 90%;
  height:2px;
  background:linear-gradient(-90deg, #FA5858, #FA5858);
  margin:auto;
}
.form{
  text-align: right;
  padding:10px;
}
/* footer */

footer {
  height: 300px;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: gray;
  a {
    color: gray;
    &:hover {
      color: gray;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/*index*/

.home__post{
  height: 250px;
  margin-bottom: 30px;
  text-align: center;
}

.home__post__image{
  height: 165px;
  width: 165px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.home__post__title{
  height: 30px;
  width: 170px;
  font-size: 14px;
  text-align: center;
}
.home__post__border{
  width:80%;
  height:2px;
  background:linear-gradient(-90deg, #FA5858, #FA5858);
  margin:auto;
  margin-bottom: 40px;
}

#modal-open {
  width: 300px;
  height: 40px;
  display: table-cell;
  color: orange;
  border: inset 2px orange;
  text-align: center;
  vertical-align:middle;
  font-size: 20px;
  margin-top: 5px;
  background-color: white;
}

#modal-open:hover {
  color: #FAAC58;
  background-color: #eaeaea;
}

/* モーダル コンテンツエリア */
#modal-main {
  display: none;
  width: 500px;
  height: 300px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #666666;
  position:fixed;
  z-index: 2;
  text-align: center;
}
/* モーダル 背景エリア */
#modal-bg {
  display:none;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.5);
  position:fixed;
  top:0;
  left:0;
  z-index: 1;
}

.image{
  width: auto;
  height: auto;
  max-width: 330px;
  max-height: 250px;
  border-radius: 25px;
  margin-left: 60px;
}

.subvideo{
  position: fixed;
  top: 50%;
  display: none;
}
.title{
  margin-bottom: 0px;
}
.container{
  padding-top: 80px;
}
.video{
  
}
.tagImage{
  height: 100px;
  border-radius: 400px;
}
.topImage{
  height: 300px;
  width: 100%;
  background-image: url("macaron.png");
}

.a{
  display: none;
}
.b{
  width: 0px;
}

.sublogo{
  font-size: 10px;
  float: left;
  margin-left: 10px;
  color: gray;
}

.form{
  margin-right: 100px;
  background-color: #E6E6E6;
  border-radius: 10px;
}

table {
  border: 1px solid #ccc;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 6px;
  overflow: hidden;
}
table th,
table td {
  padding: .6em 3em;
  border-bottom: 1px solid #aaa;
}
table th {
  background-color: #fff6f6;
}
table th,
table td {
  border-left: 1px solid #aaa;
}
table tr:last-child th,
table tr:last-child td {
  border-bottom: none;
}
/*table th:first-letter{
  color: #FA5858
}*/
.menu{
  border: 1px solid #ccc;
  border-left: 10px solid rgb(250,88,88);
  padding-left: 30px;
  margin-left: 30px;
  border-radius: 5px;
  height: 50px;
  line-height: 50px;
}

.twitter{
  height: 50px;
  border-radius: 400px;
}

.subtext {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.dot {
  color: rgb(250,88,88);
}

li {
  display: inline;
}
.recomend__image{
  height: 90px;
  width: 150px;
  object-fit:cover;
  border-radius: 10px;
  float: left;
  margin-right: 15px;
  margin-left: 15px;
}

.recomend__title{
  font-size: 14px;
  text-align: left;
  height:90px;
}

#mainContent{
  border-right: solid 2px #ccc;
}
.tag{
  text-align: center;
}
.tag__image{
  height: 70px;
  width: 70px;
  border-radius: 400px;

}
.tag__name{
  height: auto;
  width: auto;
  font-size: 14px;
}
.more{
  text-align: right;
  color: #FA5858;
  margin-right: 20px;
}
.top__image{
  text-align: center;
}
.search__image{
  float: left;
  width: 5%;
  margin-top: 10px;
}
.search__form{
  width: 90%;
  background-color: #E6E6E6;
  border-radius: 10px;
  border-style: none;
  margin-top: 5px;
}
.category__image{
  text-align: center;
}
.category{
  text-align: center;
  margin-bottom: 20px;
}
.post__video{
  width: 100%;
  border-radius: 15px;
}
.video-wrap {
    position: relative;
}
.video-btn {
    content: "";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:40px; /*コントローラー分下部に余白を*/
    cursor: pointer;
}
video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}