body {
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #eaeaea;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
text-decoration: none;
}

/* header */

header{
  background-color: #FA5858;
  height: 70px;
}
.header-right{
  float:right;
}

.header-child {
  float:left;
  margin-top: 5px;
  margin-left: 650px;
  margin-right:46px;
}


.header-logo {
  color: white;
  font-size: 30px;
  float: left;
}

.mainBorder{
  text-align: center;
  color: gray;
  font-size: 20px;
  margin-bottom: 0px;
}
.subBorder{
  text-align: center;
  color: gray;
  font-size: 20px;
  margin-bottom: 0px;
}

.make_border_2{
  width:80%;
  height:2px;
  background:linear-gradient(-90deg, #FA5858, #FA5858);
  margin:auto;
}

.form{
  text-align: right;
  padding:10px;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: gray;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/*index*/
.child{
  float: left;
  height: 200px;
  padding: 10px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  margin:28px;
}

#modal-open {
  width: 300px;
  height: 40px;
  display: table-cell;
  color: orange;
  border: inset 2px orange;
  text-align: center;
  vertical-align:middle;
  font-size: 20px;
  margin-top: 5px;
  background-color: white;
}

#modal-open:hover {
  color: #FAAC58;
  background-color: #eaeaea;
}

/* モーダル コンテンツエリア */
#modal-main {
  display: none;
  width: 500px;
  height: 300px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #666666;
  position:fixed;
  z-index: 2;
  text-align: center;
}
/* モーダル 背景エリア */
#modal-bg {
  display:none;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.5);
  position:fixed;
  top:0;
  left:0;
  z-index: 1;
}
.video-wrap {
    position: relative;
}
.video-btn {
    content: "";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:40px; /*コントローラー分下部に余白を*/
    cursor: pointer;
}
#video_wrapper #seekbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85px;
  background: url(../images/bg_seekbar.png) repeat-x 0 26px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
#video_wrapper #seekbar #currenttime {
  width: 0;
  height: 85px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  background: url(../images/bg_currenttime.png) repeat-x 0 26px;
}
#video_wrapper #chapter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85px;
  z-index: 3;
}
#video_wrapper #chapter li {
  position: absolute;
  left: 50%;
  bottom: 20px;
  margin-left: -8px;
}
#video_wrapper #chapter li .caption {
  font-size: 15px;
  font-size: 1.5rem;
  margin-bottom: 17px;
  padding-left: 15px;
  color: white;
  font-weight: 300;
}
#video_wrapper #chapter li span {
  display: block;
  width: 17px;
  height: 17px;
  background: url(../images/point.png) no-repeat 0 0;
  cursor: pointer;
}