<footer class="footer">
  <div class="footer__lapan">
    <img src="/lapan__footer.png" alt="ラパン" class="lapan">
    <p class="footer__text">instagram,facebook<br>twitterもやってるよ♡<br>みんなフォローしてね！</p>
    <div class="footer__icon"><a href="https://www.instagram.com/lapan.tv/" class="footer__icon__link"><i class="fa fa-instagram" aria-hidden="true"></i></a><a href="https://www.facebook.com/lapan.tv/" class="footer__icon__link"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="https://twitter.com/lapan_tv" class="footer__icon__link"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
  </div>
  <div class = "footer__lapan__menu">

    <p><a href="http://lapan.tv" class="footer__lapan__menu__link">Lapan top</a></p>
    <p><span class="footer__lapan__menu__mark">●</span></p>
    <p><a href="http://carot.co.jp" class="footer__lapan__menu__link">運営会社について</a></p>
    <p><a href="" title="" class="footer__lapan__menu__link">取材のお問い合わせ</a></p>
    <p><a href="" title="" class="footer__lapan__menu__link">サービスについてのお問い合わせ</a></p>
    <img src="/lapan_logo.png" alt="" class="footer__lapan__menu__lapan">
  </div>
</footer>