<header id="header" class="u-pl-40">
    <div class="header pure-g">
      <div class="pure-u-md-1-5"></div>
      <div class="pure-u-md-2-5">
          <div class = "header-logo" id="toggle"><a href="/" class="header-logo"><img src="lapan_logo.png" alt="ラパン" class="header__logo__image"></a><span class="sublogo">女の子のまいにちを<br>おいしくかわいく♡</span></div>
      </div>
      <nav class="form pure-u-md-1-5">
        <div ><img src="search.png" alt="" class = "search__image"></div>
        <%= search_form_for(@q, url: '/search/product', method: :get, html: {class: 'allow_submit'}) do |f| %>
          <%= f.search_field :title_or_station_or_area_or_name_or_prefecture_or_title1_cont ,placeholder: "料理名＿食材でレシピを検索" ,:class => "search__form"%>
          <%= f.submit :class => "a"%>
        <% end %>
      </nav>
    </div>
  </header><!-- /header -->