<header id="header" class="u-pt-20 u-pl-40">
    <div class="header">
      <div class = "header-logo" id="toggle"><a href="/" class="header-logo">Lapan.tv</a></div>
      <nav class="form">
        <%= search_form_for(@q, url: '/search/product', method: :get) do |f| %>
          <%= f.label :title_cont %>
          <%= f.search_field :title_cont %>
          <%= f.submit %>
        <% end %>
      </nav>
    </div>
  </header><!-- /header -->