<div class="pure-menu pure-menu-horizontal pure-menu-scrollable responsive">
    <a href="/" class="pure-menu-link pure-menu-heading">Home</a>
    <ul class="pure-menu-list">
     <%= render :partial => "tag_list" , :collection => @tags %>
    </ul>
</div>